@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0; }

header {
  background-color: #a57548;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  grid-area: header; }
  header h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: 'Chivo Mono', monospace;
    color: #f2f79c; }
    header h1 a {
      font-size: 50px;
      font-weight: 600;
      font-family: 'Chivo Mono', monospace;
      color: #f2f79e;
      text-decoration: none; }
  header nav .menu {
    list-style: none;
    margin: 10px;
    display: flex; }
    header nav .menu li {
      padding: 15px 7px 15px 7px; }
      header nav .menu li:hover {
        background-color: #2b0504;
        padding: auto;
        transition: 1s;
        color: #f2f79e; }
      header nav .menu li a {
        text-decoration: none;
        color: #f2f79e;
        font-family: 'Chivo Mono', monospace; }

.gridcontainer main {
  grid-area: main; }
  .gridcontainer main .hero {
    background-image: url(../img/fondoadan.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-clip: border-box; }
    .gridcontainer main .hero div {
      background-color: #c9d6ea69;
      height: 450px;
      width: 900px;
      margin: auto; }
      .gridcontainer main .hero div h2 {
        font-family: 'Chivo Mono', monospace;
        font-size: 35px;
        text-align: center;
        padding: 50px;
        color: #2b0504; }
      .gridcontainer main .hero div p {
        font-size: 25px;
        font-family: 'Chivo Mono', monospace;
        text-align: center;
        color: #2b0504; }
  .gridcontainer main .productos {
    background-color: white; }
    .gridcontainer main .productos p {
      background-color: white;
      font-family: 'Chivo Mono', monospace;
      text-align: center;
      padding: 20px;
      color: #2B0504;
      font-size: 20px;
      margin-bottom: 20px; }
    .gridcontainer main .productos .cajasproductos {
      display: flex;
      justify-content: space-around;
      flex-direction: row; }
      .gridcontainer main .productos .cajasproductos div {
        width: 250px;
        height: 350px;
        border: 8px black groove;
        text-align: center;
        margin: 20px;
        display: inline-block;
        background-color: #ffeaae;
        padding: 8px; }
        .gridcontainer main .productos .cajasproductos div h3 {
          margin: 8px;
          font-family: 'Chivo Mono', monospace;
          font-size: 18px; }
        .gridcontainer main .productos .cajasproductos div img {
          width: 210px;
          height: 280px;
          padding-bottom: 10px; }
  .gridcontainer main .fixed {
    position: fixed;
    right: 50px;
    bottom: 30px; }

.gridcontainerp main .titulop {
  font-family: 'Chivo Mono', monospace;
  padding: 40px 60px 60px 60px;
  text-align: center;
  text-decoration: 3px underline double #2B0504;
  color: #2B0504;
  background-color: #ffeaae; }

.gridcontainerp main .pinturas {
  background-color: #ffeaae;
  padding: 50px;
  font-family: 'Chivo Mono', monospace; }
  .gridcontainerp main .pinturas .horizontal1 {
    display: flex;
    padding-bottom: 20px;
    grid-area: main1; }
    .gridcontainerp main .pinturas .horizontal1 img {
      width: 300px;
      padding: 20px; }
    .gridcontainerp main .pinturas .horizontal1 p {
      padding-top: 100px; }
  .gridcontainerp main .pinturas .vertical {
    display: flex;
    padding-bottom: 20px;
    grid-area: main2;
    grid-column: 1/3; }
    .gridcontainerp main .pinturas .vertical img {
      width: 300px;
      padding: 20px; }
    .gridcontainerp main .pinturas .vertical p {
      padding-top: 200px; }
  .gridcontainerp main .pinturas .horizontal2 {
    display: flex;
    padding-bottom: 20px;
    grid-area: main3; }
    .gridcontainerp main .pinturas .horizontal2 img {
      width: 300px;
      padding: 20px; }
    .gridcontainerp main .pinturas .horizontal2 p {
      padding-top: 100px; }

.gridcontainerp .pagination {
  background-color: #ffeaae;
  padding: 10px;
  margin: 0px; }

.gridcontainern main .nosotros {
  font-family: 'Chivo Mono', monospace;
  background-image: url(../img/nosotrosfondo.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  background-position: top; }
  .gridcontainern main .nosotros .nosotrostexto {
    background-color: #ffe9ae85;
    width: 90%;
    margin: auto; }
    .gridcontainern main .nosotros .nosotrostexto h2 {
      font-size: 40px;
      text-align: center;
      margin-left: 50px;
      padding-top: 20px;
      text-decoration: 3px underline double; }
    .gridcontainern main .nosotros .nosotrostexto p {
      margin: 20px 80px 20px 80px;
      line-height: 30px;
      text-align: left; }

.gridcontainers main .servicios {
  font-family: 'Chivo Mono', monospace;
  margin: auto;
  background-image: url(../img/serviciosfondo.jpg);
  background-size: contain; }
  .gridcontainers main .servicios .subservicios {
    background-color: #c9d6ea75;
    width: 800px;
    margin: auto;
    padding: 0px; }
    .gridcontainers main .servicios .subservicios h2 {
      padding-top: 10px;
      padding-bottom: 25px;
      text-align: center;
      text-decoration: 3px underline double; }
    .gridcontainers main .servicios .subservicios .bloque1 {
      display: flex;
      padding-right: 30px; }
      .gridcontainers main .servicios .subservicios .bloque1 p {
        text-align: left;
        padding: 100px 20px 20px 10px; }
      .gridcontainers main .servicios .subservicios .bloque1 img {
        width: 300px;
        padding-right: 0px; }
    .gridcontainers main .servicios .subservicios .bloque2 {
      display: flex;
      padding-left: 30px; }
      .gridcontainers main .servicios .subservicios .bloque2 p {
        text-align: left;
        padding: 20px 10px 20px 50px; }
      .gridcontainers main .servicios .subservicios .bloque2 img {
        width: 300px;
        padding-left: 10px; }
    .gridcontainers main .servicios .subservicios .bloque3 {
      padding: 10px 30px 20px 30px; }

.gridcontainerc main .contacto {
  font-family: 'Chivo Mono', monospace;
  background-image: url(../img/contactofondo.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  .gridcontainerc main .contacto .cuadro {
    background-color: #ffe9ae8c;
    margin: 0px 20px 0px 20px; }
    .gridcontainerc main .contacto .cuadro h2 {
      text-align: center;
      padding: 20px 0px 30px 0px; }
    .gridcontainerc main .contacto .cuadro h3 {
      padding: 30px; }
    .gridcontainerc main .contacto .cuadro p {
      padding: 0px 30px 0px 30px; }
    .gridcontainerc main .contacto .cuadro form {
      padding: 30px; }
      .gridcontainerc main .contacto .cuadro form .comentario h3 {
        padding: 50px 50px 0px 50px; }
      .gridcontainerc main .contacto .cuadro form .comentario textarea {
        padding: 0px 50px 50px 0px; }

footer {
  background-color: #2B0504;
  display: flex;
  grid-area: footer; }
  footer h2 {
    font-family: 'Chivo Mono', monospace;
    font-size: 20px;
    color: #ffeaae;
    padding: 10px 10px 10px 30px; }
  footer div {
    margin-left: 900px; }
    footer div img {
      margin: 10px;
      width: 30px; }

@media (max-width: 412px) {
  .gridcontainer {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px auto 100px;
    grid-template-areas: "header" "main" "footer"; }
    .gridcontainer header h1 a {
      font-size: 35px; }
    .gridcontainer main .hero {
      background-image: url(../img/persistencia.jpg);
      background-position: center;
      background-size: cover; }
    .gridcontainer main .productos .cajasproductos div {
      padding: 0;
      width: 200px; }
      .gridcontainer main .productos .cajasproductos div img {
        width: 190px;
        height: 260px; }
    .gridcontainer main .fixed {
      display: none; }
    .gridcontainer footer div {
      margin-left: 300px; }
  .gridcontainerp {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px auto 100px;
    grid-template-areas: "header" "main" "footer"; }
    .gridcontainerp header h1 a {
      font-size: 35px; }
    .gridcontainerp main .horizontal1 img {
      width: 200px;
      padding-left: 0px; }
    .gridcontainerp main .vertical img {
      width: 190px;
      padding-left: 0px;
      margin-left: 0px; }
    .gridcontainerp main .horizontal2 img {
      width: 200px;
      padding-left: 0px; }
    .gridcontainerp footer div {
      margin-left: 300px; } }
