footer {
    background-color: nth($paletadecolores, 4);
    display: flex;

    h2 {
        font-family: 'Chivo Mono', monospace;
        font-size: 20px;
        color: nth($paletadecolores, 3);
        padding: 10px 10px 10px 30px;
    }

    div {
        margin-left: 900px;
        img {
            margin: 10px;
            width: 30px;
        }
    }

}