header{
    background-color: nth($paletadecolores, 2);
    @extend %header;
    h1 {
        font-size: 50px;
        font-weight: 600;
        font-family: 'Chivo Mono', monospace;
        color: nth($paletadecolores, 1);
        a {
            font-size: 50px;
            font-weight: 600;
            font-family: 'Chivo Mono', monospace;
            color: nth($paletadecolores, 3);
            text-decoration: none;
        }
    }

    nav {
        .menu {
            list-style: none;
            margin: 5px 10px 5px 5px;
            display: flex;
            justify-content:space-between;

            li {
                padding: 15px 7px 15px 0px;
                &:hover {
                    background-color: nth($paletadecolores, 4);
                    padding: auto;
                    transition: 1s;
                    color: nth($paletadecolores, 3);
                }

                a {
                    text-decoration: none;
                    color: nth($paletadecolores, 3);
                    font-family: 'Chivo Mono', monospace;
                }
        }
    }
}

}